@model Models.UserInfo

@{
    ViewBag.Title = "您的报名信息已经提交";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

        <div class="alert alert-success" role="alert">您的报名信息已经提交！</div>
        <address class="text-left ofauto" >
            <h2 class="text-center">缴费方式</h2>
           企业或个人通过网银转账、银行转账和扫描二维码交费方式缴纳。（注：最好企业统一汇款并注明“土木年会”，备注需要的发票种类（增值税普票、增值税专票），参会时凭汇款凭证及有效身份证件领取发票）。<br />
           汇至单位名称：甘肃建投培训中心<br />
           开户行：建设银行西固西路支行<br>
           账  号：62001390002051501764<br />
            <img width="90%" src="~/img/jiaofei.png" class="img-rounded text-center"/>
        </address>
