<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>建投培训中心报名页面</title>
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/validate.css">
</head>

<body>
    <div class="sign_wrap">
        <div class="logo"><img src="/img/logo.png" alt="中厚明德logo"></div>
        <div class="sign_title"><img src="/img/title.png" alt=""></div>
        <div class="sign_line"><img src="/img/line.png" alt=""></div>
        <div class="sign_text">
            <p>2019年6月1日-3日</p>
            <p style="letter-spacing:8px;">甘肃建投培训中心</p>
        </div>
        <form class="sign_form" action="main.html" id="signForm">
            <div class="sign_term">
                <label class="sign_name"></label>
                <input type="text" placeholder="请输入姓名" name="name">
            </div>
            <div class="sign_term">
                <label class="sign_phone"></label>
                <input type="text" placeholder="请输入手机号" name="phone">
            </div>

                <div class="sign_button">
                    <button>点击进入</button>
                </div>

        </form>
        <div class="sign_welcome">
            <i>/</i>诚<i>/</i>挚<i>/</i>欢<i>/</i>迎<i>/</i>您<i>/</i>的<i>/</i>到<i>/</i>来<i>/</i>
        </div>
    </div>



    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <!-- 信息验证 -->
    <script type="text/javascript" src="/js/jquery.validate.js"></script>
    <script type="text/javascript" src="/js/validate_expand.js"></script>

</body>

</html>
