<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/stylebs.css">
    <title>会议主页</title>
</head>


<body>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <img src="/img/logo.png" height="30px" alt="">
            </div>
        </div>
            <div class="row text-center mg-30">
                <div class="col-12">
                    <img src="/img/title.png" height="50px" alt="">
                </div>
                <div class="col-12">
                    <img src="/img/line.png" height="14px" alt="">
                </div>
            </div>
            <div class="row mg-30 center-block" >
                <a href="/gaikuang.html">
                    <div class="col-xs-4 text-center">
                     <span class="glyphicon glyphicon-tasks fs-50" aria-hidden="true"></span><br>
                     <span>会议概况</span>
                    </div>
                </a>
                <a href="/anpai.html">
                     <div class="col-xs-4 text-center">
                         <span class="glyphicon glyphicon-list-alt fs-50" aria-hidden="true"></span><br>
                         <span>会议安排</span>
                     </div>
                </a>
                  <a href="/jiabin.html">
                      <div class="col-xs-4 text-center">
                          <span class="glyphicon glyphicon-user fs-50" aria-hidden="true"></span><br>
                          <span>嘉宾介绍</span>
                      </div>
                  </a>
            </div>
             <div class="row mg-30 center-block" >
                 <a href="/jiaotong.html">
                     <div class="col-xs-4 text-center">
                         <span class="glyphicon glyphicon-road fs-50" aria-hidden="true"></span><br>
                         <span>交通安排</span>
                     </div>
                 </a>
                
                 <a href="/xuzhi.html">
                     <div class="col-xs-4 text-center">
                         <span class="glyphicon glyphicon-flag fs-50" aria-hidden="true"></span><br>
                         <span>报名须知</span>
                     </div>
                 </a>   
                 <a href="/tongzhi.html">
                      <div class="col-xs-4 text-center">
                          <span class="glyphicon glyphicon-bullhorn fs-50" aria-hidden="true"></span><br>
                          <span>会议通知</span>
                      </div>
                  </a>
               
             </div>
              <div class="row mg-30 center-block" >
                  <a href="huichang.html">
                      <div class="col-xs-4 text-center">
                          <span class="glyphicon glyphicon-blackboard fs-50" aria-hidden="true"></span><br>
                          <span>会场介绍</span>
                      </div>
                  </a>
                  <a href="/tishi.html">
                      <div class="col-xs-4 text-center">
                          <span class="glyphicon glyphicon-heart-empty fs-50" aria-hidden="true"></span><br>
                          <span>温馨提示</span>
                      </div>
                  </a>
                  <a href="/center.html">
                      <div class="col-xs-4 text-center">
                          <span class="fa fa-cog fa-spin fs-50" aria-hidden="true"></span><br>
                          <span>个人中心</span>
                      </div>
                  </a>
              </div>
         
              <div class="row center-block text-center" >
                   <div class="col-12 mg-60 fs-18">
                       <p>诚/挚/欢/迎/您/的/到/来</p>
                   </div>
              </div>

    </div>
</body>

</html>