@{
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
    ViewBag.Title = "会议安排";
}



        <span>[ 会 议 安 排 ]</span>


        <div class="container ofauto">
            @Html.Raw(Model.lanmuNeirong)
            <p>
                <br />
            </p>
        </div>
  
