@{
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
    ViewBag.Title = "交通安排";
}
<style type="text/css">
    #allmap {
        width: 100%;
        height: 100%;
        overflow: hidden;
        margin: 0;
        font-family: "微软雅黑";
    }
</style>
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=PlhFWpA02aoURjAOpnWcRGqw7AI8EEyO">
</script>
<span>[ 交 通 安 排 ]</span>

<div class="jumbotron mg-15">
    <div class="container text-left ofauto" style="line-height:30px">

        <span>
            <i class="glyphicon glyphicon-map-marker"></i>兰州交通大学:经过兰州交通大学的线路有TB1路、602路、B1路；
            <br>
            <i class="glyphicon glyphicon-info-sign"></i> TB1路：兰州西站<=>刘家堡市场，首末车时间：21:35-23:30，票价：无人售票车 一元
            <br>
            <i class="glyphicon glyphicon-info-sign"></i> 602路：兰州西站<=>秦川镇，首末车时间：6：30-18：30，票价：单程16元
            <br>
            <i class="glyphicon glyphicon-info-sign"></i> B1路：兰州西站<=>刘家堡市场，首末车时间：6:00-21:30，票价：无人售票车 一元
            <br>

        </span>
        <div id="allmap"></div>

    </div>
</div>
<script type="text/javascript">
    // 百度地图API功能
    var map = new BMap.Map("allmap");
    map.centerAndZoom(new BMap.Point(103.732709,36.109242), 14);

    var geolocation = new BMap.Geolocation();
    geolocation.getCurrentPosition(function(r){
    if(this.getStatus() == BMAP_STATUS_SUCCESS){
    var mk = new BMap.Marker(r.point);
    map.addOverlay(mk);
    map.panTo(r.point);
     // alert('您的位置：'+r.point.lng+','+r.point.lat);
     var p1 = new BMap.Point(r.point.lng,r.point.lat);
     var p2 = new BMap.Point(103.732709,36.109242);
     //var p2 = new BMap.Point(103.732709,36.109242);
     var driving = new BMap.DrivingRoute(map, {
     renderOptions: {
     map: map,
     autoViewport: true
     }
     });
     driving.search(p1, p2);


   }
    else {
    alert('failed'+this.getStatus());
    }
    },{enableHighAccuracy: true})


</script>