@{
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
    ViewBag.Title = "交通安排";
}


        <span>[ 交 通 安 排 ]</span>

        <div class="jumbotron mg-15">
            <div class="container text-left ofauto" style="line-height:30px">
                @Html.Raw(Model.lanmuNeirong)

            </div>
</div>
