@{
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
    ViewBag.Title = "甘肃省土木建筑学会关于专业技术人员继续教育学时证明的通知";
}


        <span>[ @ViewBag.Title ]</span>

        <div class="jumbotron mg-15">
            <div class="container ofauto" style="background-color: #fff">
                @*@Html.Raw(Model.lanmuNeirong)*@
                <img src="~/img/tongzhi_5.png" class="img-responsive" alt="Image" width="100%">
            </div>
        </div>
       