@{
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
    ViewBag.Title = "会议安排";
}



        <span>[ 会 议 安 排 ]</span>


        <div class="container ofauto">
            <article use="1" class="yead_editor m4157" data-author="Wxeditor" style="font-size:14px;margin:5px auto;">
                <section style="border:0 none;margin:0;padding:0;display:block;box-sizing:border-box">
                    <section style="border:0 none;margin:0;padding:0;box-sizing:border-box">
                        <section style="padding:0;display:block;border-style:solid;-webkit-border-image:url(https://wxcdn.yidiantu.cn/s/aHR0cCUzQS8vbW1iaXoucXBpYy5jbi9tbWJpel9naWYvdjR2ejUyQ2NCMTAzc3NwTklmdGhLUnBvOTM0cnJ1aWJuaWFyZnR5NDZyclpSR1pjUHlKeTBibmliS08ydkdUQU8zVlRDYVQ3bmJ6QUxDNEVwNER3UUZ2aWNnLzAlM0Y=gif) 11 fill;border-width:5px;margin:0 6px 0 0;box-sizing:border-box">
                            <section style="display:block;color:#333;font-size:14px;padding:5px 10px;margin:0;line-height:30px;text-align:justify;box-sizing:border-box">
                                <style type="text/css">
                                    p.p1 {
                                        margin: 0.0px 0.0px 0.0px 0.0px;
                                    }
                                </style>
                                <p class="p1">
                                    <a href="/home/tongzhi_1"><span style="color:white;font-size:1.2em">1、关于召开2019甘肃省土木建筑学会学术年会一号通知</span></a> <br />
                                    <a href="/home/tongzhi_2"><span style="color:white;font-size:1.2em"> 2、甘肃省土木建筑学会关于专业技术人员继续教育学时证明的通知</span></a> <br />
                                    <a href="/home/tongzhi_3"><span style="color:white;font-size:1.2em"> 3、甘土建会【2019】45号节能与绿色施工图审查设计节能与绿色建筑专题讲座通知-兰州（终稿）</span></a> <br />
                                    <a href="/home/tongzhi_4"><span style="color:white;font-size:1.2em"> 4、甘土建会【2019】47号关于举办既有建筑物鉴定与加固及绿色技术改造学术交流专题论坛的通知20190927</span></a> <br />
                                    <a href="/home/tongzhi_5"><span style="color:white;font-size:1.2em"> 5、甘土建会【2019】48号关于举办建设行业信息化技术发展交流专题论坛的通知20190927v(1)</span></a> <br />
                                    <a href="/home/tongzhi_6"><span style="color:white;font-size:1.2em"> 6、关于召开甘肃省土木建筑学会建筑给水排水 学术委员会 2019 年年会暨学术交流会的通知</span></a> <br />
                                </p>
                            </section>
                        </section>
                    </section>
                </section>
            </article>
            <p>
                <br />
            </p>
        </div>
  
