@{
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
    ViewBag.Title = "会议通知";
}


<style>
    html {
        overflow-x: hidden;
        overflow-y: hidden;
    }
</style>
        <span>[ 会 议 通 知 ]</span>

        <div class="jumbotron mg-15">
            <div class="container text-left ofauto">
                <img src="/img/1-1.jpg" class="img-responsive" alt="Image" width="100%">
            </div>

        </div>
       
